h1 {
    display: flex;
    justify-content: center;
    background-color: yellow;
    padding: 2rem;
}

.header-left-image {
    display: flex;
    padding-left: 20px;
}

.header-right-image {
    float: right;
    padding-left: 20px;
}